.red {
  background-color: red;
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.featured-accomp {
  background-color: goldenrod;
  color: white;
  padding: 25px;
  border-radius: 3px;
}

.featured-accomp i {
  font-size: 20px;
}
